@model IEnumerable<Category>
@{
    string? query = ViewBag.Query?.ToString();
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
}
<div class="manage-container">
    <h2 class="text-center">Manage Categories</h2>
    <div class="mb-3 d-flex align-items-center justify-content-between">

        <form method="get" asp-controller="Category" asp-action="Manage" class="d-flex w-75">
            <div class="d-flex w-50">
                <input type="text" name="query" class="form-control search-bar me-2" placeholder="Search for products..." value="@query" />
                <button type="submit" class="btn btn-primary search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        <a asp-action="Add" class="btn btn-success ms-auto">Add New Category</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        @if (category.ImageUrl != null)
                        {
                            <img src="@category.ImageUrl" alt="@category.Name" style="max-width: 100px;" />
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
